.barra_superior{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style:none;
    font-size: 20px;
    width: 100%;
}
.two{
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*justify-content: space-around;*/
    justify-content: end;
    width: 45%;
    color: rgb(197, 219, 236);
}
.twoo{
    margin-left: 5%;
}
ul{
    color: #f9f9f9;
}
body{
    background-color: #1F2937;
    /*padding: 2%;
    border-left: 10px;*/
    margin-left: 10%;
    margin-right: 10%;
}
h1{
   color: rgb(255, 255, 255);
   
}
.header_box{
    height: 200px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}
.parrafo_del_principio{
    width: 350px;
    color: rgb(197, 219, 236);
}
.primera_imagen{
    height: 200px;
    width: 800px;
    justify-content: end;
    /*margin-right: 5%;*/
}
.head{
    display: flex;
    width: auto;
}
.boton{
    background-color: #205cb0;
    border: #8db1e3;
    color: #f9f9f9;
    height: 40px;
    width: 90px;
    border-radius: 1em;
    outline: 2px solid rgb(18, 69, 180);
}
.dos{
    background-color: #f9f9f9;
}
.caja_contenedora{
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
}
.item{
    width: 200px;
    height: 200px;
    border:  4px solid rgb(38, 114, 220);
    margin: 2%;
    margin-bottom: 6%;
    border-radius: 1em;
    outline: 2px solid rgb(52, 164, 228);

}
.i_parrafo{
    margin-top: 110%;
}
h2{
   text-align: center;
   padding-top: 2%;
}
.three{
    background-color: rgb(222, 229, 235);
    color: rgb(0, 0, 0);
    font-size: 200%;
}
.parrafo2{
    padding-top: 5%;
    width: 850px;
    justify-content: center;
    margin-left: 15%;
}
.autor{
    margin-left: 55%;
    font-size: 70%;
    font-weight: bold;
    padding-bottom: 5%;
}
.four{
    background-color: #205cb0;
   /* display: flex;*/
    /*flex-wrap: wrap;*/
    padding: 5%;
    height: 10%;
}
.four2{
    display: flex;
    background-color: #f9f9f9;
    margin-left: 8%;
    border-radius: 1em;
    height: 2%;
    flex-direction: column;

}
.boton2{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: #205cb0;
    border: #8db1e3;
    color: #f9f9f9;
    height: 40px;
    width: 90px;
    border-radius: 1em;
    outline: 2px solid rgb(255, 255, 255);
    
    
}
.letterh2{
    width: 50%;
    margin-left: 10%;
}
.text2{
    width: 80%;
}
.ultimo{
    display: flex;
}